[Desktop Entry]
Name=DeFi Node Main Menu
Comment=RaspberryPI DeFi Node Main Menu
Icon=/usr/share/pixmaps/defiChainLogo3.png
Exec=lxterminal -t "RaspberryPI DeFi Node Main Menu" -e sudo -E sh startMainMenu.sh
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;
StartupNotify=true
Comment[de_CH]=RaspberryPI DeFi Node Haupt-Menu
Path=$HOME